@font-face {
  font-family: 'sf_ui_text';
    src: url('../fonts/SFUIText-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'sf_ui_text';
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

// отсупы взял исходя из макета: сверху 32px, справа и слева (216 / 1920) * 100 ≈ 11.25%
.container {
  margin: 32px 11.25% 0 11.25%;
}